<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat App</title>

  <link rel="stylesheet" href="css/style.css">
  <script>
    const roomName = "<%= roomName %>"
  </script>
  <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
  <script defer src="script.js"></script>
</head>

<body>
  <header class="header">
    <div class="container">
      <nav>
        <h1>
          <%= roomName %>
        </h1>
        <ul>
          <li><a class="button" href="/">Exit</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="chat-content">
    <div id="message-container">
      <button class="button" id="scrollToBottomButton">New Messages (0)</button>
    </div>

    <footer class="footer">
      <form class="form" action="" id="send-container">
        <input class="input" type="text" id="message-input" placeholder="Type your message here">
        <button class="button" type="submit" id="send-button">Send</button>
      </form>
    </footer>
  </div>
</body>

<style>
  .chat-content {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: calc(100vh - 4rem);
    margin-top: 4rem;
  }

  #message-container {
    flex: 1;
    margin: auto;
    padding: 0.5rem;
    max-width: 500px;
    width: 100%;
    overflow-y: auto;
    position: relative;
  }

  #scrollToBottomButton {
    position: fixed;
    bottom: 68px;
    right: 10px;
    display: none;
  }

  .message {
    margin: 0.5rem;
    border-radius: 8px;
  }

  .message-sender {
    font-weight: 600;
  }

  .join-message {
    text-align: center;
    font-size: 12px;
    padding: 0.25rem;
    margin: auto;
  }

  .my-message,
  .others-message {
    padding: 0.5rem;
    background: #98B9F2;
    color: #141B41;
  }

  .my-message {
    margin-left: 4rem;
    background: #918EF4;
    color: #141B41;
  }

  .others-message {
    margin-right: 4rem;
  }

  .footer {
    background: #222D6D;
    padding: 0.5rem;
  }
</style>

</html>